# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.apk
*.bin
*.out
*.sw*
*.jp*
*.mp4
*.png
*.avi
*.zip
*.*z



# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
this-project
this_project
bin
tmp
gf
screenlog.*

.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
main
.vscode
go.sum